pkgbase = rutile
	pkgdesc = GNOME-native terminal emulator with split tiling and synchronized input
	pkgver = 0.6.2
	pkgrel = 1
	url = https://github.com/yatoub/Rutile
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	depends = gtk4
	depends = libadwaita
	depends = vte4
	source = https://github.com/yatoub/Rutile/archive/refs/tags/v0.6.2.tar.gz
	b2sums = da8bcca8899bd8c3b69e626f8798cb7c0a00c38187fa931a79b603eab4e25d39a36af540e24ec8e933bf9c19c5cb15713e83bc73ef09b18f5acdf418310176ed

pkgname = rutile
