pkgbase = rutile
	pkgdesc = GNOME-native terminal emulator with split tiling and synchronized input
	pkgver = 0.6.1
	pkgrel = 1
	url = https://github.com/yatoub/Rutile
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	depends = gtk4
	depends = libadwaita
	depends = vte4
	source = https://github.com/yatoub/Rutile/archive/refs/tags/v0.6.1.tar.gz
	b2sums = 11ca51064aa9d3aa6c5ea650137823d4017497388cb4d5fe00f32abe136f61dd14caa07d8daaf14dda41540db01773a0c4eeca8cf66f990bc542589a72fd410d

pkgname = rutile
